<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
     <form method="post" action="/all_tweets">
        <!-- Heading -->
        <h4>
        Tweet for me <3
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to tweety tweet.
        </p>

        <!-- tweet title -->
        <div>
            <label>Tweet Title</label>
            <div>
                <input type="text"  name="ttitle" id="em" required>
            </div>
        </div>

        <!-- tweet text -->
        <div>
            <label>Tweet text</label>
            <div class="input-group">
                <input type="text"  name="ttext" maxlength="280">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
</html>